h1{
text-align: center;
font-size: 300%;

}

#game {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 60px auto;

}
.btn {
    display: inline-block;

    margin-top: 20px;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    color:  rgb(204, 1, 255);
    border: 2px solid transparent;
    border-radius: 5px;
    border-color:  rgb(204, 1, 255);
  
    cursor: pointer;
    transition: .3s;
  }
  
  .btn:hover {
    background-image: linear-gradient(to right, #a715d4, #d41ec5, #ddb840, #fcff46);
      box-shadow: 0 4px 15px 0 rgba(236, 19, 171, 0.75);
   color: black;
   
  }
.card {
  
    margin: 6px;
    padding: 30px;
    width: 75px;
    text-align: center;
    border: 1px solid rgb(82, 81, 81);
    font-size: 48px;
    cursor: pointer;
    background: white;
    position: relative;
    background-image:linear-gradient(rgb(217, 255, 0), rgb(204, 1, 255))
}

.card::after {
    content: '';
    position: absolute;
    border: 2px solid black;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    background: rgb(204, 1, 255);
}



.card.visible::after {
    content: '';
    display: none;
   
}
/* rotation card  */
/* transform: rotateY(180deg);
transition: transform 0.3s linear; */